{% extends 'layout.twig' %}

{% block metaTitle %}Anasayfa{% endblock %}
{% block pagetitle %}Motoyaşam{% endblock %}
{% block breadcrumb %}
    <li>Motoyaşam</li>
{% endblock %}


{% block leftSide %}

{% endblock %}


